<div class="bannershow" style="background-image: url('<%= cl_image_path @place.photo_url, crop: :fill %>');"></div>


<div class="containershow">
  <div class="flex-item2">
    <h2> <%= @place.name %> </h2>
    <%= @place.description %>
    <br>
    <br>
    <%= @place.address %>
  </div>

  <div class="flex-item2">
    <%= simple_form_for [@place, Reservation.new] do |f| %>
      <%= f.input :reserved_at, as: :date, input_html: { class: "datepicker" }, html5: true, required: true, autofocus: true %>
      <%= f.association :category, required: true, autofocus: true %>
      <%= f.button :submit, "Book this place", class: "btn btn-success" %>
    <% end %>
    <br>
    <p>Price: <%= @place.price %> €</p>
  </div>
</div>

<hr>
<div class="containershow">
  <div id="reviews">
    <% if @place.reviews.blank? %>
     such a bad place, even  No reviews yet, be the first to leave a review for <%= @place.name %>
      <%= render 'shared/review-form' %>
    <% else %>
    <h1>Reviews for <%= @place.name %></h1>
      <% @place.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
      <hr>
    <%= render 'shared/review-form' %>
    <% end %>
  </div>
</div>
