<div class="bannershow" style="background-image: url('<%= cl_image_path @place.photo_url, crop: :fill %>');"></div>


<div class="container">
  <div class="flex-item">
    <h2> <%= @place.name %> </h2>
    <%= @place.description %>
    <%= @place.address %>
  </div>

  <div class="flex-item">
    <%= simple_form_for [@place, Reservation.new] do |f| %>
      <%= f.input :reserved_at, as: :date, input_html: { class: "datepicker" }, html5: true, required: true, autofocus: true %>
      <%= f.association :category, required: true, autofocus: true %>
      <%= f.button :submit, "Book this place", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<div class="container">
  <hr>
  <div id="reviews">
    <% if @place.reviews.blank? %>
      No reviews yet, be the first to leave a review for <%= @place.name %>
      <%= render 'shared/review-form' %>
    <% else %>
    <h1>Reviews for <%= @place.name %></h1>
      <% @place.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
      <hr>
    <%= render 'shared/review-form' %>
    <% end %>
  </div>
</div>
