<div class="bannershow" style="background-image: url('<%= cl_image_path @place.photo_url, crop: :fill %>');"></div>

<div class="row">
  <div class="containershow">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="flex-item2">
        <h2> <%= @place.name %> </h2>
        <%= @place.description %>
        <br>
        <br>
        <strong> <%= @place.address %> </strong>
      </div>
    </div>

    <div class="flex-itemshow">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= simple_form_for [@place, Reservation.new] do |f| %>
          <%= f.input :reserved_at, as: :date, input_html: { class: "datepicker" }, html5: true, required: true, autofocus: true %>
          <%= f.association :category, required: true, autofocus: true %>
          <%= f.button :submit, "Book this place", class: "btn btn-success" %>
        <% end %>
        <br>
        <p>Price: <%= @place.price %> €</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="containershow">
  <div id="reviews">
    <% if @place.reviews.blank? %>
      No reviews yet, be the first to leave a review for <%= @place.name %>
      <%= render 'shared/review-form' %>
    <% else %>
    <h1>Reviews for <%= @place.name %></h1>
      <% @place.reviews.each do |review| %>
        <p style="color:#616668">Review: <span style="font-weight:lighter;"><%= review.content %></span></p>
      <% end %>
      <hr>
    <%= render 'shared/review-form' %>
    <% end %>
  </div>
</div>
