<div class="bannershow" style="background-image: url('<%= cl_image_path @place.photo_url, crop: :fill %>');"></div>


<div class="container">
  <div class="flex-item">
    <h2> <%= @place.name %> </h2>
    <%= @place.description %>
    <%= @place.address %>
  </div>

  <div class="flex-item">
    <%= simple_form_for [@place, @reservation] do |f| %>
      <%= f.input :reserved_at, as: :date, input_html: { class: "datepicker" }, html5: true %>
      <%= f.association :category %>
      <%= f.button :submit, "Book this place", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<hr>
<div class="container">
  <div id="reviews">
    <% if @place.reviews.blank? %>
      No reviews yet, be the first to leave a review for <%= @place.name %>
        <%= simple_form_for([ @place, @review ]) do |form| %>
        <%= form.input :content, as: :text %>
        <%= form.button :submit, class: 'btn btn-primary' %>
        <% end %>
    <% else %>
    <h1>Reviews for <%= @place.name %></h1>
      <% @place.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
      <hr>
              <%= simple_form_for([ @place, @review ]) do |form| %>
        <%= form.input :content, as: :text %>
        <%= form.button :submit, class: 'btn btn-primary' %>
        <% end %>
    <% end %>
  </div>
</div>
